<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/libs/angular/angular.min.js"></script>
    <script src="/index.js"></script>
</head>
<body ng-controller="RegCtrl as regCtrl">
    <h1>Registration</h1>
    <form name ="regForm" novalidate ng-submit="regCtrl.register()">
        <table>
            <tr>
                <td>Name:</td>
                <td>
                    <input id="name" type="text" name="name" ng-model="regCtrl.name" >
                </td>
            </tr>    
            <tr>
                <td>Email:</td>
                <td>
                    <input id="email" type="email" name="email" ng-model="regCtrl.email">
                </td>
            </tr> 
            <tr>
            <td></td>
                <td>
                    <button type="button" ng-click="regCtrl.resetForm()">Clear</button>
                    <button type="submit">Register Me</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                {{regCtrl.message}}
                </td>
            </tr> 
        </table>
    </form>    
</body>
</html>